.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  background-color:#fff;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}
.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}
.sidebar-link img{
  margin-bottom: 4px ;
  height: 24px;
}
.sidebar-link div{
  font-size: 10px;
}